#score-row {
   display: flex;
   width: 100%;
   background: #e1b9e8;
   border: 3px solid #7631f3;
   border-radius: 45px;
   font-size: 15px;
}
#score-divider {
   margin-left: 280px;
}

#score {
   margin-left: 30px;
}