.title {
  font-family: 'Righteous', cursive;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: rgb(239, 250, 82);
  margin-bottom: 50px;
  background: url("./des.jpg")
}
